<section id="sanofi">
  <img
    src="../../assets/images/sanofi/background-sanofi.jpg"
    alt="background-sanofi"
    class="block-position-center background js-move-block"
    data-range="0.05"
  />
  <img
    src="../../assets/images/sanofi/find-sanofi.png"
    alt="find-sanofi"
    class="block-position-center find js-move-block"
    data-range="0.1"
  />
  <img
    src="../../assets/images/sanofi/lines-sanofi.png"
    alt="lines-sanofi"
    class="block-position-center line js-move-block"
    data-range="0.3"
  />
  <img
    src="../../assets/images/sanofi/known-sanofi.png"
    alt="known-sanofi"
    class="block-position-center known js-move-block"
    data-range="0.2"
  />
  <img
    src="../../assets/images/sanofi/stockholm-sanofi.png"
    alt="stockholm-sanofi"
    class="block-position-center stockholm js-move-block"
    data-range="0.3"
  />
  <img
    src="../../assets/images/sanofi/stroke-one-sanofi.png"
    alt="stroke-one-sanofi"
    class="block-position-center stroke-one js-move-block"
    data-range="0.4"
  />
  <img
    src="../../assets/images/sanofi/stroke-two-sanofi.png"
    alt="stroke-two-sanofi"
    class="block-position-center stroke-two js-move-block"
    data-range="0.7"
  />
  <img
    src="../../assets/images/sanofi/stroke-three-sanofi.png"
    alt="stroke-three-sanofi"
    class="block-position-center stroke-three js-move-block"
    data-range="1"
  />
  <div
    class="block-position-center launch js-move-block js-opacity-block"
    data-range="0.2"
  >
    <h3>SANOFI</h3>
    <p>AT EUROPEAN SOCIETY</p>
    <p>OF CARDIOLOGY</p>
  </div>
</section>
