<section id="loader" class="module">
  <img
    src="../../assets/images/loader/circle-loader.png"
    alt="circle"
    class="circle block-position-transform-center"
  />
  <div class="title block-position-transform-center">
    <div class="mask"></div>
    <img
      src="../../assets/images/loader/title-loader.png"
      alt="blacknegative"
    />
  </div>
  <img
    src="../../assets/images/loader/tutorial-50milliseconds-loader.gif"
    alt="tutorial"
    class="block-position-transform-center tutorial"
  />
  <img
    src="../../assets/images/loader/txt-drag-projects-loader.png"
    alt="txt-drag-projects"
    class="block-position-transform-center txt-drag-projects"
  />
</section>
