<section id="twist">
  <img
    src="../../assets/images/twist/sprite-one-50milliseconds-twist.gif"
    alt="sprite-one"
    class="block-position-transform-center sprite-one"
  />
  <img
    src="../../assets/images/twist/sprite-two-50milliseconds-twist.gif"
    alt="sprite-two"
    class="block-position-transform-center sprite-two"
  />
  <img
    src="../../assets/images/twist/sprite-three-50milliseconds-twist.gif"
    alt="sprite-three"
    class="block-position-transform-center sprite-three"
  />
  <img
    src="../../assets/images/twist/sprite-four-50milliseconds-twist.gif"
    alt="sprite-four"
    class="block-position-transform-center sprite-four"
  />
  <div class="launch-container">
    <img
      src="../../assets/images/twist/launch-button-twist.png"
      alt="launch-button-twist"
      class="show"
    />
    <img
      src="../../assets/images/twist/launch-button-hover-twist.png"
      alt="launch-button-hover-twist"
      class=""
    />
  </div>
  <div class="mask show">
    <img
      src="../../assets/images/twist/launch-twist.jpg"
      alt="launch-twist"
      class="block-position-transform-center launch"
    />
    <img
      src="../../assets/images/twist/text-twist.png"
      alt="text-twist.png"
      class="block-position-transform-center text"
    />
    <div class="block-position-transform-center circle-container">
      <img
        src="../../assets/images/twist/circle-border-twist.png"
        alt="circle-border"
        class="circle-border"
      />
      <img
        src="../../assets/images/twist/go-twist.png"
        alt="go-twist"
        class="go"
      />
    </div>
  </div>
</section>
