<section id="client">
  <div class="content-container">
    <div class="col col-1">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/sanofi-client.png"
          alt="sanofi-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <div class="col col-2">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/axa-client.png"
          alt="axa-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/kindy-client.png"
          alt="kindy-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <div class="col col-3">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/ralph-lauren-client.png"
          alt="ralph-lauren-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/remy-client.png"
          alt="remy-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/cristal-darc-client.png"
          alt="cristal-darc-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <div class="col col-4">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/novalab-client.png"
          alt="novalab-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/bose-client.png"
          alt="bose-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="launch-container">
        <img
          src="../../assets/images/client/launch-client.png"
          alt="launch-client"
          class="block-position-transform-center launch"
        />
        <img
          src="../../assets/images/client/launch-over-client.png"
          alt="launch-over-client"
          class="block-position-transform-center launch-over"
        />
        <img
          src="../../assets/images/client/back-client.png"
          alt="back-client"
          class="block-position-transform-center back"
        />
      </div>
      <div class="rhombus-container"></div>
    </div>
    <div class="col col-5">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/adidas-client.png"
          alt="adidas-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/citroen-client.png"
          alt="citroen-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/luminarc-client.png"
          alt="luminarc-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <div class="col col-6">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/maybeline-client.png"
          alt="maybeline-client"
          class="block-position-transform-center"
        />
      </div>
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/sanofi-client.png"
          alt="sanofi-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <div class="col col-7">
      <div class="rhombus-container">
        <img
          src="../../assets/images/client/adisseo-client.png"
          alt="adisseo-client"
          class="block-position-transform-center"
        />
      </div>
    </div>
    <img
      src="../../assets/images/client/work-client.png"
      alt="work-client"
      class="work"
    />
    <img
      src="../../assets/images/client/good-client.png"
      alt="good-client"
      class="good"
    />
  </div>
</section>
