<section id="kindy">
  <img
    src="../../assets/images/kindy/background-one-kindy.jpg"
    alt="background-one-kindy"
    class="block-position-transform-center background show"
  />
  <img
    src="../../assets/images/kindy/background-two-kindy.jpg"
    alt="background-two-kindy"
    class="block-position-transform-center background"
  />
  <img
    src="../../assets/images/kindy/background-three-kindy.jpg"
    alt="background-three-kindy"
    class="block-position-transform-center background"
  />
  <img
    src="../../assets/images/kindy/circle-kindy.png"
    alt="circle-kindy"
    class="block-position-transform-center circle"
  />
  <div class="block-position-transform-center mask-circle-container">
    <img
      src="../../assets/images/kindy/mask-circle-three-kindy.png"
      alt="mask-circle-three"
      class="mask-circle"
    />
  </div>
  <div class="block-position-transform-center mask-container">
    <img
      src="../../assets/images/kindy/mask-two-kindy.png"
      alt="mask-two"
      class="mask"
    />
  </div>
  <img
    src="../../assets/images/kindy/find-kindy.png"
    alt="find-kindy"
    class="block-position-transform-center find"
  />
  <img
    src="../../assets/images/kindy/title-50milliseconds-kindy.gif"
    alt="title-kindy"
    class="block-position-transform-center title"
  />
  <img
    src="../../assets/images/kindy/adventures-kindy.png"
    alt="adventures-kindy"
    class="block-position-transform-center adventures"
  />
  <ul class="block-position-transform-center list">
    <li class="selected">Blockbuster</li>
    <li>Speed dating</li>
    <li>Psycholuv' Story</li>
  </ul>
  <img
    src="../../assets/images/kindy/launch-kindy.png"
    alt="launch-kindy"
    class="block-position-transform-center launch"
  />
</section>
