<section id="bose" class="module">
  <div class="evolve-container">
    <img
      src="../../assets/images/bose/evolve-bose.png"
      alt="evolve"
      class="evolve"
    />
  </div>
  <img
    src="../../assets/images/bose/making-bose.png"
    alt="making"
    class="making"
  />
  <div class="line"></div>
  <div class="ready-container">
    <img
      src="../../assets/images/bose/ready-bose.png"
      alt="ready"
      class="ready"
    />
  </div>
  <div class="sounddesign-container">
    <img
      src="../../assets/images/bose/sounddesign-bose.png"
      alt="sounddesign"
      class="sounddesign"
    />
  </div>
</section>
