<section id="ralphlauren" class="module">
  <div class="col-1">
    <img
      src="../../assets/images/ralphlauren/photo1-ralphlauren.jpg"
      alt="photo1-ralphlauren"
      class="object-fit-cover"
    />
  </div>
  <div class="col-1">
    <img
      src="../../assets/images/ralphlauren/photo2-ralphlauren.jpg"
      alt="photo2-ralphlauren"
      class="object-fit-cover"
    />
  </div>
  <div class="col-1">
    <img
      src="../../assets/images/ralphlauren/photo3-ralphlauren.jpg"
      alt="photo3-ralphlauren"
      class="object-fit-cover"
    />
  </div>
  <div class="col-1">
    <div class="col-2 col-2-big">
      <div class="col-3">
        <div class="text-container">
          <div class="mask"></div>
          <img
            src="../../assets/images/ralphlauren/text-generally-ralphlauren.png"
            alt="text-generally"
            class="block-position-transform-center text-generally"
          />
          <img
            src="../../assets/images/ralphlauren/text-hover-ralphlauren.png"
            alt="text-hover"
            class="block-position-transform-center text-hover"
          />
        </div>
      </div>
      <div class="col-3">
        <img
          src="../../assets/images/ralphlauren/photo4-ralphlauren.jpg"
          alt="photo4-ralphlauren"
          class="object-fit-cover"
        />
      </div>
    </div>
    <div class="col-2">
      <img
        src="../../assets/images/ralphlauren/photo5-ralphlauren.jpg"
        alt="photo5-ralphlauren"
        class="object-fit-cover"
      />
    </div>
  </div>
</section>
