<section id="bullittagency" class="module">
  <img
    src="../../assets/images/bullittagency/text-bullittagency.png"
    alt="text"
    class="text block-position-transform-center"
  />
  <div class="launch-container block-position-transform-center">
    <img
      src="../../assets/images/bullittagency/launch-bullittagency.png"
      alt="launch"
      class="launch"
    />
    <img
      src="../../assets/images/bullittagency/launch-hover-bullittagency.png"
      alt="launch-hover"
      class="launch-hover"
    />
  </div>
  <div class="mask block-position-transform-center on-hover"></div>
</section>
