<section id="whoweare" class="module">
  <div class="background-bottom introduce-container">
    <div class="mask">
      <h3 class="title">Telling</h3>
      <p class="text">
        We seek nothing less than to be a source of inspiration, revealing your
        true ambitions.
      </p>
    </div>
  </div>
  <div class="background-bottom introduce-container">
    <div class="mask">
      <h3 class="title">Fascinating</h3>
      <p class="text">
        We deliver nothing less than incredible individuals, with the
        distinctive ability to imagine, create and innovate.
      </p>
    </div>
  </div>
  <div class="introduce-container">
    <div class="mask">
      <h3 class="title">Stories</h3>
      <p class="text">
        We are directors, motion designers, photographers, web designers,
        developers, sound designers and we give you nothing less than the most
        beautiful ways to tell your story.
      </p>
    </div>
  </div>
  <img
    src="../../assets/images/whoweare/what-whoweare.png"
    alt="what"
    class="what"
  />
</section>
