<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Index</title>
  </head>
  <body>
    <main id="carousel">
      <div id="carousel-container">
        <div id="modules-container">
          ${require('./../../components/loader/template.html')}
          ${require('./../../components/whoweare/template.html')}
          ${require('./../../components/ralphlauren/template.html')}
          ${require('./../../components/bose/template.html')}
          ${require('./../../components/bullittagency/template.html')}
          ${require('./../../components/adisseo/template.html')}
          ${require('./../../components/kindy/template.html')}
          ${require('./../../components/sanofi/template.html')}
          ${require('./../../components/news/template.html')}
          ${require('./../../components/twist/template.html')}
          ${require('./../../components/luminarc/template.html')}
          ${require('./../../components/client/template.html')}
          ${require('./../../components/ownthesky/template.html')}
          ${require('./../../components/citroen/template.html')}
          ${require('./../../components/contact/template.html')}
        </div>
        <nav id="home">
          <div class="home-background">
            <div class="home-background-dashed"></div>
            <div class="home-background-images-container">
              <div class="home-background-image-item selected">
                <img
                  src="../../assets/images/home/1-home.png"
                  alt="whoweare-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/2-home.png"
                  alt="ralphlauren-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/3-home.png"
                  alt="bose-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/4-home.png"
                  alt="bullittagency-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/5-home.png"
                  alt="adisseo-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/6-home.png"
                  alt="kindy-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/7-home.png"
                  alt="sanofi-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/8-home.png"
                  alt="news-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/9-home.png"
                  alt="twist-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/10-home.png"
                  alt="luminarc-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/11-home.png"
                  alt="client-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/12-home.png"
                  alt="ownthesky-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/13-home.png"
                  alt="citroen-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
              <div class="home-background-image-item">
                <img
                  src="../../assets/images/home/14-home.png"
                  alt="contact-thumbnail"
                  class="home-background-image"
                />
                <div class="home-background-image-mask"></div>
                <div class="home-background-image-triangle"></div>
              </div>
            </div>
          </div>
          <div class="home-font-container">
            <div class="home-font-item selected">
              <a href="javascript:;">WHO WE ARE</a>
              <p class="description">Telling fascinating stories</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">RALPH LAUREN</a>
              <p class="description">Forget me not</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">BOSE</a>
              <p class="description">
                Treating the sound as a part of the picture
              </p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">INTERACTIVE DESIGNS</a>
              <p class="description">We try to make the web a better world</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">ADISSEO</a>
              <p class="description">
                Attracting investors for a leading animal nutrition firm
              </p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">KINDY</a>
              <p class="description">
                The fantastic adventures george the Sock
              </p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">SANOFI</a>
              <p class="description">Capturing the richness of a major event</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">WHAT'S HOT</a>
              <p class="description">Our latest news</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">TWIST</a>
              <p class="description">The smallest glucose device</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">CRISTAL D'ARQUES</a>
              <p class="description">City of Light</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">OUR CLIENTS</a>
              <p class="description">It's about making a lasting impression.</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">WE OWN THE SKY</a>
              <p class="description">
                Shape the mystery and romance of a brand
              </p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">CITROEN</a>
              <p class="description">If you can imagine it you can build it</p>
            </div>
            <div class="home-font-item">
              <a href="javascript:;">CONTACT</a>
              <p class="description">Say hello to Blacknegative!</p>
            </div>
          </div>
        </nav>
      </div>
      <div id="nav">
        <img
          src="../../assets/images/nav/logo-nav.png"
          alt="logo"
          class="logo"
        />
        <div class="navigator-container">
          <div class="navigator selected"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator"></div>
          <div class="navigator-drag"></div>
        </div>
        <div class="social">
          <ul>
            <li class="social-facebook">
              <a href="javascript:;"
                ><img src="../../assets/images/nav/facebook-nav.png"
              /></a>
            </li>
            <li class="social-twitter">
              <a href="javascript:;"
                ><img src="../../assets/images/nav/twitter-nav.png"
              /></a>
            </li>
            <li class="sound-control">
              <a href="javascript:;"
                ><img src="../../assets/images/nav/sound-nav.png"
              /></a>
            </li>
          </ul>
        </div>
        <div class="credit">
          <!-- <div class="credit-content">
            <span>Production:</span
            ><a href="http://blacknegative.com/">Blacknegative</a>
            <br />
            <span>Design:</span>Dilshan Arukatti
            <br />
            <span>Development:</span>
            <a href="http://www.sylvaintran.fr" target="_blank">Sylvain Tran</a>
          </div> -->
          <div class="credit-content">
            <p>
              <span>Production:</span
              ><a href="http://blacknegative.com/" target="_blank"
                >Blacknegative</a
              >
            </p>
            <p><span>Design:</span>Dilshan Arukatti</p>
            <p>
              <span>Development:</span>
              <a href="http://www.sylvaintran.fr" target="_blank"
                >Sylvain Tran</a
              >
            </p>
          </div>
          <div class="credit-title">Credits</div>
        </div>
        <div class="mask-background"></div>
        <div class="mask-hover"></div>
        <img
          src="../../assets/images/nav/menu-nav.png"
          alt="mask-menu"
          class="mask-menu"
        />
      </div>
    </main>
  </body>
</html>
