#citroen {
  background: #000 center center no-repeat;

  .mask {
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
    top: 0px;
    display: block;

    .mask-background {
      background-color: #141318;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0%;
      top: 0%;
      transition: top 0.4s ease-out 0s;
    }

    .logo {
      width: 513px;
      height: 491px;
      transform: translate(-257px, -294px);
      opacity: 1;
    }

    .sequence {
      width: 513px;
      height: 491px;
      transform: translate(-257px, -294px);
    }

    .sprite-container {
      width: 400px;
      height: 35px;
      background: url("../../assets/images/citroen/line-citroen.jpg") center
        center repeat-x;
      transform: translate(-200px, 250px);

      .sprite-drag {
        width: 150px;
        height: 35px;
        position: absolute;
        left: 0px;
        top: 0px;
        cursor: pointer;

        .sprite-image {
          width: 150px;
          height: 35px;
          position: absolute;
          left: 0px;
          top: 0px;
          display: block;
        }

        .sprite-image-over {
          width: 150px;
          height: 35px;
          position: absolute;
          left: 0px;
          top: 0px;
          display: none;
        }
      }

      &:hover {
        .sprite-drag {
          .sprite-image {
            display: none;
          }
          .sprite-image-over {
            display: block;
          }
        }
      }
    }

    &.hidden {
      .mask-background {
        top: 100%;
      }

      .logo {
        transition: opacity 0.6s ease-out 0.4s;
        opacity: 0;
      }

      .sequence {
        display: none;
      }

      .sprite-container {
        display: none;
      }
    }
  }

  .move-block {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0px, 0px);
  }

  .background {
    width: 1801px;
    height: 1013px;
    margin-left: -900px;
    margin-top: -507px;
  }

  .imagine-container {
    margin-left: 26px;
    margin-top: -142px;
    width: 454px;
    height: 304px;

    .imagine {
      width: 454px;
      height: 152px;
      position: absolute;
      left: 0px;
      top: 0px;
    }

    .launch-container {
      width: 454px;
      height: 152px;
      position: absolute;
      left: 0px;
      top: 50%;
      cursor: pointer;

      img {
        width: 454px;
        height: 152px;
        position: absolute;
        left: 0px;
        top: 0px;
      }

      .launch {
        display: block;
      }

      .launch-hover {
        display: none;
      }

      &:hover {
        .launch {
          display: none;
        }

        .launch-hover {
          display: block;
        }
      }
    }
  }

  .component-one {
    width: 163px;
    height: 182px;
    margin-left: -700px;
    margin-top: -70px;
  }

  .component-two {
    width: 27px;
    height: 54px;
    margin-left: -800px;
    margin-top: 30px;
  }

  .component-three {
    width: 31px;
    height: 37px;
    margin-left: -700px;
    margin-top: 60px;
  }

  .component-four {
    width: 100px;
    height: 89px;
    margin-left: 450px;
    margin-top: 100px;
  }

  .component-five {
    width: 16px;
    height: 41px;
    margin-left: 300px;
    margin-top: 120px;
  }

  .component-six {
    width: 20px;
    height: 18px;
    margin-left: 200px;
    margin-top: 160px;
  }

  .component-seven {
    width: 17px;
    height: 27px;
    margin-left: -370px;
    margin-top: 130px;
  }

  .component-eight {
    width: 105px;
    height: 89px;
    margin-left: 120px;
    margin-top: -70px;
  }

  .component-nine {
    width: 64px;
    height: 57px;
    margin-left: -110px;
    margin-top: -250px;
  }

  .component-ten {
    width: 31px;
    height: 32px;
    margin-left: -190px;
    margin-top: -260px;
  }

  // webpack 不會打包沒使用的圖片, 故需要把沒使用的圖片製成 img tag 並放到頁面上
  // 然後再使用 display: none; 隱藏
  .display-none {
    display: none;
  }
}
