<section id="citroen">
  <img
    src="../../assets/images/citroen/background-citroen.jpg"
    alt="background-citroen"
    class="move-block background"
    data-range="0.03"
  />
  <div class="move-block imagine-container" data-range="0.05">
    <img
      src="../../assets/images/citroen/imagine-citroen.png"
      alt="imagine-citroen"
      class="imagine"
    />
    <div class="launch-container">
      <img
        src="../../assets/images/citroen/launch-citroen.png"
        alt="launch-citroen"
        class="launch"
      />
      <img
        src="../../assets/images/citroen/launch-hover-citroen.png"
        alt="launch-hover-citroen"
        class="launch-hover"
      />
    </div>
  </div>
  <img
    src="../../assets/images/citroen/component-one-citroen.png"
    alt="component-one"
    class="move-block component-one"
    data-range="0.5"
  />
  <img
    src="../../assets/images/citroen/component-two-citroen.png"
    alt="component-two"
    class="move-block component-two"
    data-range="0.09"
  />
  <img
    src="../../assets/images/citroen/component-three-citroen.png"
    alt="component-three"
    class="move-block component-three"
    data-range="0.06"
  />
  <img
    src="../../assets/images/citroen/component-four-citroen.png"
    alt="component-four"
    class="move-block component-four"
    data-range="0.45"
  />
  <img
    src="../../assets/images/citroen/component-five-citroen.png"
    alt="component-five"
    class="move-block component-five"
    data-range="0.06"
  />
  <img
    src="../../assets/images/citroen/component-six-citroen.png"
    alt="component-six"
    class="move-block component-six"
    data-range="0.09"
  />
  <img
    src="../../assets/images/citroen/component-seven-citroen.png"
    alt="component-seven"
    class="move-block component-seven"
    data-range="0.07"
  />
  <img
    src="../../assets/images/citroen/component-eight-citroen.png"
    alt="component-eight"
    class="move-block component-eight"
    data-range="0.3"
  />
  <img
    src="../../assets/images/citroen/component-nine-citroen.png"
    alt="component-nine"
    class="move-block component-nine"
    data-range="0.25"
  />
  <img
    src="../../assets/images/citroen/component-ten-citroen.png"
    alt="component-ten"
    class="move-block component-ten"
    data-range="0.09"
  />
  <div class="mask">
    <div class="mask-background"></div>
    <img
      src="../../assets/images/citroen/logo-citroen.png"
      alt="logo-citroen"
      class="block-position-transform-center logo"
    />
    <img
      src="../../assets/images/citroen/sequence-00-citroen.jpg"
      alt="sequence"
      class="block-position-transform-center sequence"
    />
    <div class="block-position-transform-center sprite-container">
      <div class="sprite-drag">
        <img
          src="../../assets/images/citroen/sprite-50milliseconds-citroen.gif"
          alt="sprite-50milliseconds"
          class="sprite-image"
        />
        <img
          src="../../assets/images/citroen/sprite-over-citroen.gif"
          alt="sprite-over"
          class="sprite-image-over"
        />
      </div>
    </div>
    <div class="display-none">
      <img
        src="../../assets/images/citroen/sequence-00-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-01-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-02-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-03-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-04-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-05-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-06-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-07-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-08-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-09-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-10-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-11-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-12-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-13-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-14-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-15-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-16-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-17-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-18-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-19-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-20-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-21-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-22-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-23-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-24-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-25-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-26-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-27-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-28-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-29-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-30-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-31-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-32-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-33-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-34-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-35-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-36-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-37-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-38-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-39-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-40-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-41-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-42-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-43-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-44-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-45-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-46-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-47-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-48-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-49-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-50-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-51-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-52-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
      <img
        src="../../assets/images/citroen/sequence-53-citroen.jpg"
        alt="sequence"
        class="display-none"
      />
    </div>
  </div>
</section>
