<section id="adisseo" class="module">
  <div class="adisseo-background"></div>
  <div class="adisseo-container">
    <div class="launch-container">
      <img
        src="../../assets/images/adisseo/launch-adisseo.png"
        alt="launch-adisseo"
        class="launch"
      />
    </div>
    <img
      src="../../assets/images/adisseo/casestudy-adisseo.png"
      alt="casestudy-adisseo"
      class="casestudy"
    />
    <div class="separation">
      <div class="sprite-container">
        <img
          src="../../assets/images/adisseo/sprite-60milliseconds-adisseo.gif"
          alt="sprite"
          class="sprite"
        />
      </div>
      <img
        src="../../assets/images/adisseo/content-adisseo.png"
        alt="content-adisseo"
        class="content"
      />
    </div>
  </div>
</section>
