<section id="luminarc">
  <img
    src="../../assets/images/luminarc/logo-luminarc.png"
    alt="logo-luminarc"
    class="block-position-transform-center logo"
  />
  <img
    src="../../assets/images/luminarc/text-luminarc.png"
    alt="text-luminarc"
    class="block-position-transform-center text"
  />
  <div class="block-position-transform-center launch-container">
    <img
      src="../../assets/images/luminarc/launch-luminarc.png"
      alt="launch-luminarc"
      class="launch"
    />
    <img
      src="../../assets/images/luminarc/launch-over-luminarc.png"
      alt="launch-over-luminarc"
      class="launch-over"
    />
  </div>
</section>
