<section id="news">
  <div class="line-italic"></div>
  <div class="content-container">
    <div class="col col-left">
      <div class="img-container first" data-index="0">
        <img
          src="../../assets/images/news/open-your-eyes-one-news.png"
          alt="open-your-eyes-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/open-your-eyes-two-news.png"
          alt="open-your-eyes-two-news"
        />
        <img
          src="../../assets/images/news/open-your-eyes-three-news.png"
          alt="open-your-eyes-three-news"
        />
        <h4>Mystical</h4>
        <p>
          open.your.eyes
          <br />
          A gripping video to entice visitors
        </p>
      </div>
      <div class="img-container" data-index="0">
        <img
          src="../../assets/images/news/multaq-guidelines-one-news.png"
          alt="multaq-guidelines-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/multaq-guidelines-two-news.png"
          alt="multaq-guidelines-two-news"
        />
        <img
          src="../../assets/images/news/multaq-guidelines-three-news.png"
          alt="multaq-guidelines-three-news"
        />
        <h4>Focusing</h4>
        <p>
          Multaq guidelines
          <br />
          Customized interviews for sanofi worldwide
        </p>
      </div>
    </div>
    <div class="col col-center">
      <img
        src="../../assets/images/news/hot-news.png"
        alt="hot-news"
        class="hot"
      />
      <div class="img-container first" data-index="0">
        <img
          src="../../assets/images/news/kiss-the-blade-one-news.png"
          alt="kiss-the-blade-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/kiss-the-blade-two-news.png"
          alt="kiss-the-blade-two-news"
        />
        <img
          src="../../assets/images/news/kiss-the-blade-three-news.png"
          alt="kiss-the-blade-three-news"
        />
        <h4>Unexpected</h4>
        <p>
          kiss.the.blade
          <br />
          Fictional characters for the biggest spa in Paris
        </p>
      </div>
      <div class="img-container" data-index="0">
        <img
          src="../../assets/images/news/shocking-one-news.png"
          alt="shocking-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/shocking-two-news.png"
          alt="shocking-two-news"
        />
        <img
          src="../../assets/images/news/shocking-three-news.png"
          alt="shocking-three-news"
        />
        <h4>Vintage</h4>
        <p>
          Shocking!
          <br />
          Timeless scenes for a Karl Lagerfeld ad
        </p>
      </div>
    </div>
    <div class="col col-right">
      <div class="img-container first" data-index="0">
        <img
          src="../../assets/images/news/pieces-of-heroes-one-news.png"
          alt="pieces-of-heroes-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/pieces-of-heroes-two-news.png"
          alt="pieces-of-heroes-two-news"
        />
        <img
          src="../../assets/images/news/pieces-of-heroes-three-news.png"
          alt="pieces-of-heroes-three-news"
        />
        <h4>Thunderous</h4>
        <p>
          pieces.of.heroes
          <br />
          FX jingle designed for Adidas
        </p>
      </div>
      <div class="img-container" data-index="0">
        <img
          src="../../assets/images/news/the-dancer-one-news.png"
          alt="the-dancer-one-news"
          class="show"
        />
        <img
          src="../../assets/images/news/the-dancer-two-news.png"
          alt="the-dancer-two-news"
        />
        <img
          src="../../assets/images/news/the-dancer-three-news.png"
          alt="the-dancer-three-news"
        />
        <h4>Social</h4>
        <p>
          The dancer
          <br />
          Brand movie to gather the Reebok community
        </p>
      </div>
    </div>
  </div>
  <div class="scroll-container">
    <div class="scroll"></div>
  </div>
</section>
