<section id="ownthesky">
  <img
    src="../../assets/images/ownthesky/logo-ownthesky.png"
    alt="logo-ownthesky"
    class="block-position-transform-center logo"
  />
  <div class="block-position-transform-center launch-container">
    <img
      src="../../assets/images/ownthesky/launch-ownthesky.png"
      alt="launch-ownthesky"
      class="launch"
    />
    <img
      src="../../assets/images/ownthesky/launch-over-ownthesky.png"
      alt="launch-over-ownthesky"
      class="launch-over"
    />
  </div>
</section>
